@page "/"

<h1>Welcome to your new app</h1>
<hr style="background-color:#c200a0; height:1px;" />
<h3>@DateTime.Now.ToShortDateString()</h3>
<h3>@DateTime.Now.ToLongDateString()</h3>
<h3>@DateTime.Now.ToUniversalTime()</h3>
<hr style="background-color:#0082ff; height:1px;" />

<h2>Claims</h2>
<AuthorizeView>
    <ul>
        @foreach (var claim in context.User.Claims)
        {
            <li><b>@claim.Type</b>: @claim.Value</li>
        }
    </ul>
</AuthorizeView>


<div>
    <input type="button" class="btn-primary" value="Unregistered" />

    <AuthorizeView Roles="Admin">
        <input type="button" class="btn-info " value="Admin" />
    </AuthorizeView>

    <AuthorizeView Roles="Admin, User">
        <input type="button" class="btn-danger" value="User" />
    </AuthorizeView>
</div>